# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
print(g_key)

AIzaSyDSTjZLxavud21_6rLICmhDCD3GZJL60m4

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [146]:
weather_path = "Output_Data/cities.csv"
weather_data = pd.read_csv(weather_path)
weather_data.head(10)

,Name,Latitude,Longitude,Average Temperature (F),Max Temperature (F),Humidity,Cloudiness,Wind Speed,Country,Date
0,Albany,42.60,-73.97,78.53,81.00,56,8,1.01,US,1594684351
1,Jingdezhen,29.29,117.21,81.25,81.25,87,96,1.95,CN,1594684372
2,Punta Arenas,-53.15,-70.92,35.29,35.60,80,90,8.05,CL,1594684373
3,Lucea,18.45,-78.17,85.80,87.80,70,20,17.22,JM,1594684373
4,Vaini,-21.20,-175.20,75.20,75.20,73,40,10.29,TO,1594684374
5,Roebourne,-20.78,117.13,69.24,69.24,37,5,10.65,AU,1594684374
6,Paka,4.64,103.44,73.20,73.40,100,40,1.97,MY,1594684374
7,Hermanus,-34.42,19.23,50.00,50.00,77,99,7.00,ZA,1594684375
8,Çanakkale Province,40.08,26.83,71.60,71.60,64,73,23.04,TR,1594684375
9,Emerald,-23.53,148.17,56.10,57.00,47,0,10.29,AU,1594684376

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [155]:
gmaps.configure(api_key="AIzaSyDSTjZLxavud21_6rLICmhDCD3GZJL60m4")
the_map = gmaps.Map()
#the_map.add_layer(gmaps.Heatmap(data=weather_data))
the_map

#For this to work, we need to store the coordinates in a list of tuples.
def coords(x, y):
    xy = [(x[i], y[i]) for i in range(0, len(y))]
    return xy

coordinates = coords(weather_data['Latitude'], weather_data['Longitude'])
coordinates[:5]

humids = [i for i in weather_data['Humidity']]

weather_data['Humidity']
heat = gmaps.heatmap_layer(coordinates, weights=humids)
the_map.add_layer(heat)
the_map

Map(configuration={'api_key': 'AIzaSyDSTjZLxavud21_6rLICmhDCD3GZJL60m4'}, data_bounds=[(-45.682947871706205, -…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [63]:
optimal_weather_df = weather_data[(weather_data['Average Temperature (F)'] > 60) & (weather_data['Humidity'] > 20) & (weather_data['Average Temperature (F)'] < 90) & (weather_data['Humidity'] < 70) & (weather_data['Cloudiness'] > 30) & (weather_data['Wind Speed'] < 15)]
optimal_weather_df = optimal_weather_df.reset_index()
optimal_weather_df

,index,Name,Latitude,Longitude,Average Temperature (F),Max Temperature (F),Humidity,Cloudiness,Wind Speed,Country,Date
0,37,Tuktoyaktuk,69.45,-133.04,62.60,62.60,63,40,6.93,CA,1594684388
1,40,Mayor Pablo Lagerenza,-19.93,-60.77,77.92,77.92,57,99,7.02,PY,1594684389
2,52,Sheridan,44.83,-106.92,69.94,70.00,32,75,5.82,US,1594684394
3,56,Kieta,-6.22,155.63,84.54,84.54,64,98,3.27,PG,1594684395
4,59,Yangi Marg`ilon,40.43,71.72,73.40,73.40,49,80,2.24,UZ,1594684396
...,...,...,...,...,...,...,...,...,...,...,...
62,515,Toktogul,41.87,72.94,66.40,66.40,50,89,0.87,KG,1594684593
63,529,Avera,33.19,-82.53,87.58,91.40,49,40,4.70,US,1594684599
64,547,Yuncheng,35.02,110.99,75.13,75.13,61,100,4.54,CN,1594684607
65,554,Lugovoy,42.95,72.76,65.52,65.52,40,83,4.34,KZ,1594684610
66,569,Mahibadhoo,3.78,72.97,83.80,83.80,69,71,6.53,MV,1594684616

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [128]:
base_hotel_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

hotel_list = []
cities_without_hotels = 0
no_hotels_list = []

for index, row in optimal_weather_df.iterrows():
    hotel_url = base_hotel_url + "?location=" + str(row['Latitude']) + ", " + str(row['Longitude']) + "&radius=5000&type=hotel&key=" + g_key
    try:
        hotel_request = requests.get(hotel_url).json()
        hotels_found = hotel_request['results']
        hotel_list.append(hotels_found[0])

    except IndexError:
        cities_without_hotels += 1
        no_hotels_list.append(row['Name'])
    
if cities_without_hotels > 0:
    print(f'{cities_without_hotels} cities had no nearby hotels.')

1 cities had no nearby hotels.

In [130]:
print(no_hotels_list)

# If a city has no nearby hotels, it's not a feasible vacation spot. I'll have to get rid of it from the dataframe, as I will need the City and Country names to have consistent length with the hotel list data I made.
for i in no_hotels_list:
    optimal_weather_df = optimal_weather_df[optimal_weather_df['Name'] != i]

optimal_weather_df

['Muhafazat Lahij']

,index,Name,Latitude,Longitude,Average Temperature (F),Max Temperature (F),Humidity,Cloudiness,Wind Speed,Country,Date
0,37,Tuktoyaktuk,69.45,-133.04,62.60,62.60,63,40,6.93,CA,1594684388
1,40,Mayor Pablo Lagerenza,-19.93,-60.77,77.92,77.92,57,99,7.02,PY,1594684389
2,52,Sheridan,44.83,-106.92,69.94,70.00,32,75,5.82,US,1594684394
3,56,Kieta,-6.22,155.63,84.54,84.54,64,98,3.27,PG,1594684395
4,59,Yangi Marg`ilon,40.43,71.72,73.40,73.40,49,80,2.24,UZ,1594684396
...,...,...,...,...,...,...,...,...,...,...,...
62,515,Toktogul,41.87,72.94,66.40,66.40,50,89,0.87,KG,1594684593
63,529,Avera,33.19,-82.53,87.58,91.40,49,40,4.70,US,1594684599
64,547,Yuncheng,35.02,110.99,75.13,75.13,61,100,4.54,CN,1594684607
65,554,Lugovoy,42.95,72.76,65.52,65.52,40,83,4.34,KZ,1594684610
66,569,Mahibadhoo,3.78,72.97,83.80,83.80,69,71,6.53,MV,1594684616

In [132]:

print(hotels_found[6])

names = []
lats = []
lngs = []

for i in range(0,len(hotel_list)):
    names.append(hotel_list[i]['name'])
    lats.append(hotel_list[i]['geometry']['location']['lat'])
    lngs.append(hotel_list[i]['geometry']['location']['lng'])
    

hotel_df = pd.DataFrame({"Hotel Name":names,
    "Lat": lats,
    "Lng": lngs,
    "City": optimal_weather_df['Name'],
    "Country": optimal_weather_df['Country']

})

hotel_df

{'business_status': 'OPERATIONAL', 'geometry': {'location': {'lat': 3.791944400000001, 'lng': 72.9649262}, 'viewport': {'northeast': {'lat': 3.793337130291502, 'lng': 72.9662887802915}, 'southwest': {'lat': 3.790639169708498, 'lng': 72.9635908197085}}}, 'icon': 'https://maps.gstatic.com/mapfiles/place_api/icons/generic_business-71.png', 'id': 'f46c741c27c336a9acfbc4380c1f07bfdc29d0c1', 'name': 'My Graphics Online', 'opening_hours': {'open_now': False}, 'photos': [{'height': 2520, 'html_attributions': ['<a href="https://maps.google.com/maps/contrib/113337126971519481145">Mygraphics Online</a>'], 'photo_reference': 'CmRaAAAAgA6qXo-gbhCmix29KyqlZcDyVNlLVlEBLqHjrSWsXsAyziw-iIefNto9DQ9qxg84ZYtXcFnoDyVC8aem2p-487OlWUBxhNSbWNqSnuMaiIVc-hiZt3QJo_MOP1IZc1ZPEhDvAyvQnSVwq_hU99zmx-6TGhRp6zZvblhCFgiVCC3ApfqNiAtoYA', 'width': 1968}], 'place_id': 'ChIJAQCQmUHEQDsRCkgWr88V1og', 'plus_code': {'compound_code': 'QXR7+QX Omadhoo, Maldives', 'global_code': '6JMJQXR7+QX'}, 'rating': 5, 'reference': 'ChIJAQCQmUHEQDsRCkgWr88V1og', 'scope': 'GOOGLE', 'types': ['point_of_interest', 'establishment'], 'user_ratings_total': 3, 'vicinity': 'Manzil, Subnamee hingun, Omadhoo'}

             Hotel Name        Lat         Lng                   City Country
0           Tuktoyaktuk  69.445358 -133.034181            Tuktoyaktuk      CA
1   Lagerenza 4 de Mayo -19.983178  -60.452982  Mayor Pablo Lagerenza      PY
2              Sheridan  44.797194 -106.956179               Sheridan      US
3                 Kieta  -6.220475  155.637630                  Kieta      PG
4               Fergana  40.373380   71.797833        Yangi Marg`ilon      UZ
..                  ...        ...         ...                    ...     ...
62             Toktogul  41.876013   72.940151               Toktogul      KG
63                Avera  33.194035  -82.527073                  Avera      US
64             Yuncheng  35.026516  111.007460               Yuncheng      CN
65              Lugovoy  42.943871   72.761757                Lugovoy      KZ
66              Omadhoo   3.792021   72.963035             Mahibadhoo      MV

[66 rows x 5 columns]

In [133]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [157]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
the_map.add_layer(markers)

# Display figure
the_map

Map(configuration={'api_key': 'AIzaSyDSTjZLxavud21_6rLICmhDCD3GZJL60m4'}, data_bounds=[(-45.682947871706205, -…