# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
weather_path = "Output_Data/cities.csv"
weather_data = pd.read_csv(weather_path)
weather_data.head(10)

,Name,Latitude,Longitude,Average Temperature (F),Max Temperature (F),Humidity,Cloudiness,Wind Speed,Country,Date
0,Mykhaylivka,47.27,35.22,60.93,61.00,87,90,11.18,UA,1594702362
1,Newport,51.59,-3.00,58.33,61.00,97,78,4.85,GB,1594702360
2,Guaymas,27.93,-110.90,87.33,88.00,57,18,7.00,MX,1594702364
3,Laas,46.62,10.70,45.54,54.00,100,90,3.36,IT,1594702364
4,Gisborne,-38.65,178.00,53.01,53.01,83,100,1.99,NZ,1594702347
5,Kapaa,22.08,-159.32,75.22,78.80,78,90,16.11,US,1594702365
6,Vardø,70.37,31.11,46.40,46.40,87,75,9.17,NO,1594702366
7,Xiongzhou,25.12,114.30,99.50,99.50,38,38,2.91,CN,1594702366
8,Kisangani,0.52,25.20,71.67,71.67,94,100,2.13,CD,1594702238
9,New Norfolk,-42.78,147.06,48.60,51.01,78,10,1.99,AU,1594702367

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
gmaps.configure(api_key="AIzaSyDSTjZLxavud21_6rLICmhDCD3GZJL60m4")
the_map = gmaps.Map()

#For this to work, we need to store the coordinates in a list of tuples.
def coords(x, y):
    xy = [(x[i], y[i]) for i in range(0, len(y))]
    return xy

coordinates = coords(weather_data['Latitude'], weather_data['Longitude'])

# The humidity is going to be on its own, so we can simply make a list from the humidity column of the weather_data.
humids = [i for i in weather_data['Humidity']]

heat = gmaps.heatmap_layer(coordinates, weights=humids)
the_map.add_layer(heat)
the_map

Map(configuration={'api_key': 'AIzaSyDSTjZLxavud21_6rLICmhDCD3GZJL60m4'}, data_bounds=[(-45.17782529300018, -1…

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
optimal_weather_df = weather_data[(weather_data['Average Temperature (F)'] > 60) & (weather_data['Humidity'] > 20) & (weather_data['Average Temperature (F)'] < 90) & (weather_data['Humidity'] < 70) & (weather_data['Cloudiness'] > 30) & (weather_data['Wind Speed'] < 15)]
optimal_weather_df = optimal_weather_df.reset_index()
optimal_weather_df

,index,Name,Latitude,Longitude,Average Temperature (F),Max Temperature (F),Humidity,Cloudiness,Wind Speed,Country,Date
0,10,Cherskiy,68.75,161.30,64.51,64.51,40,91,13.20,RU,1594702367
1,13,Bengkulu,-3.80,102.27,85.57,85.57,64,100,5.50,ID,1594702368
2,16,Fairbanks,64.84,-147.72,63.46,66.20,59,90,5.82,US,1594702252
3,17,Vaini,-21.20,-175.20,73.40,73.40,69,75,10.29,TO,1594702370
4,32,Saint-Philippe,-21.36,55.77,69.40,73.40,60,66,4.70,RE,1594702376
...,...,...,...,...,...,...,...,...,...,...,...
58,498,Martapura,-3.42,114.85,87.80,87.80,62,40,12.75,ID,1594702586
59,522,Kondinskoye,59.65,67.41,73.04,73.04,53,86,3.44,RU,1594702597
60,523,Cairns,-16.92,145.77,75.20,75.20,44,79,13.87,AU,1594702351
61,533,Mareeba,-17.00,145.43,75.33,78.01,44,81,13.87,AU,1594702602
62,534,Temerloh,3.45,102.42,88.03,88.03,56,100,2.80,MY,1594702602

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
base_hotel_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# I need to have an empty list containing the requested information for each nearby hotel. However, I will also need to take into account any cities with no nearby hotels.
hotel_list = []
cities_without_hotels = 0
no_hotels_list = []

for index, row in optimal_weather_df.iterrows():
    hotel_url = base_hotel_url + "?location=" + str(row['Latitude']) + ", " + str(row['Longitude']) + "&radius=5000&type=hotel&key=" + g_key
    try:
        hotel_request = requests.get(hotel_url).json()
        hotels_found = hotel_request['results']
        hotel_list.append(hotels_found[0])

    # An index error will occur if hotel_request['results'] has no items.
    # In that case, we will need to make an exception so that we don't
    # crash while trying to retrieve information for each respective
    # city's hotel.
    except IndexError:
        cities_without_hotels += 1
        no_hotels_list.append(row['Name'])
    
if cities_without_hotels > 0:
    print(f'{cities_without_hotels} cities had no nearby hotels.')

# By the looks of it, all of our cities had a nearby associated hotel.
# That said, the first time I was testing my code, the city of
# Muhafazat Lahij had no hotel results, so I had to remove it from
# my list of optimal vacation spots.

In [7]:
print(no_hotels_list)

# If a city has no nearby hotels, it's not a feasible vacation spot. I'll have to get rid of it from the dataframe, as I will need the City and Country names to have consistent length with the hotel list data I made.
for i in no_hotels_list:
    optimal_weather_df = optimal_weather_df[optimal_weather_df['Name'] != i]

optimal_weather_df

[]

,index,Name,Latitude,Longitude,Average Temperature (F),Max Temperature (F),Humidity,Cloudiness,Wind Speed,Country,Date
0,10,Cherskiy,68.75,161.30,64.51,64.51,40,91,13.20,RU,1594702367
1,13,Bengkulu,-3.80,102.27,85.57,85.57,64,100,5.50,ID,1594702368
2,16,Fairbanks,64.84,-147.72,63.46,66.20,59,90,5.82,US,1594702252
3,17,Vaini,-21.20,-175.20,73.40,73.40,69,75,10.29,TO,1594702370
4,32,Saint-Philippe,-21.36,55.77,69.40,73.40,60,66,4.70,RE,1594702376
...,...,...,...,...,...,...,...,...,...,...,...
58,498,Martapura,-3.42,114.85,87.80,87.80,62,40,12.75,ID,1594702586
59,522,Kondinskoye,59.65,67.41,73.04,73.04,53,86,3.44,RU,1594702597
60,523,Cairns,-16.92,145.77,75.20,75.20,44,79,13.87,AU,1594702351
61,533,Mareeba,-17.00,145.43,75.33,78.01,44,81,13.87,AU,1594702602
62,534,Temerloh,3.45,102.42,88.03,88.03,56,100,2.80,MY,1594702602

In [8]:

# Now that we have all the information necessary about the hotels,
# we will need to build hotel_df.

# I'll store the names, latitudes, and longitudes in empty lists.
names = []
lats = []
lngs = []

# I will append all three lists while going through the
# optimal_weather_df, reaching the desired values
# via chains of keys.
for i in range(0,len(hotel_list)):
    names.append(hotel_list[i]['name'])
    lats.append(hotel_list[i]['geometry']['location']['lat'])
    lngs.append(hotel_list[i]['geometry']['location']['lng'])
    
# Since the hotel requests did not retrieve specific information
# about the facility's city or country, I will have to get
# those values from the cleaned optimal_weather_df.
hotel_df = pd.DataFrame({"Hotel Name":names,
    "Lat": lats,
    "Lng": lngs,
    "City": optimal_weather_df['Name'],
    "Country": optimal_weather_df['Country']

})

hotel_df

        Hotel Name        Lat         Lng            City Country
0          Chersky  68.742677  161.350784        Cherskiy      RU
1         Bengkulu  -3.792845  102.260764        Bengkulu      ID
2        Fairbanks  64.837778 -147.716389       Fairbanks      US
3       Nukuhetulu -21.167184 -175.190700           Vaini      TO
4   Saint-Philippe -21.358118   55.764656  Saint-Philippe      RE
..             ...        ...         ...             ...     ...
58       Martapura  -3.411598  114.845200       Martapura      ID
59     Kondinskoye  59.650379   67.408234     Kondinskoye      RU
60          Cairns -16.918551  145.778055          Cairns      AU
61         Mareeba -17.001937  145.438855         Mareeba      AU
62        Temerloh   3.448649  102.416348        Temerloh      MY

[63 rows x 5 columns]

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
the_map.add_layer(markers)

# Display figure
the_map

Map(configuration={'api_key': 'AIzaSyDSTjZLxavud21_6rLICmhDCD3GZJL60m4'}, data_bounds=[(-45.17782529300018, -1…